@font-face {
    font-family: "Font";
    src: url("../../assets/fonts/Crucifixion-Regular.otf") format("opentype");
}

.header {
    background-color: #ffd1dc;
    color: #333333;
    text-align: center;
    padding: 20px 20px 15px;
    font-family: 'Font', sans-serif;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: solid 5px #b6edc4;
}